:host{
  flex: 1;
}
.custom-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.item {
  display: block;
  border-radius: 8px;
}

.selected {
  outline: #0D99FF solid 1px;
  animation: fade-in 0.5s ease-in-out forwards
}

@keyframes fade-in {
  0% {
    outline-color: rgba(13, 153, 255, 0);
  }
  100% {
    outline-color: rgba(13, 153, 255, 1);
  }
}

.accounts-methods-container{
  height: calc(428px - 32px);
}

.container-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-container{
  z-index: 9999;
}

img {
  width: 60px;
  height: 60px;
  cursor: pointer;

  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
    border-color: #007bff;
  }
}

.icons{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.selected {
  outline: #0D99FF solid 1px;
  animation: fade-in 0.5s ease-in-out forwards
}
