<div class="container">
  <div class="logo-conteiner">
      <div class="header">
          <h1>Track your finances with us</h1>
          <div class="name">
              <p>FinTrack</p>
              <div class="vector">
                  <img src="/assets/images/icons/vector12.png">
              </div>
          </div>
      </div>
      <div class="main-info">
          <p>Master Your Finances with Ease: The Ultimate Finance Tracker for Smart Money Management</p>
      </div>
      <div class="info1">
          <p>Easy-to-Use Interface</p>
      </div>
      <div class="info1">
          <p>Comprehensive Tracking</p>
      </div>
      <div class="info1">
          <p>Budgeting Made Simple</p>
      </div>
      <div class="info1">
          <p>Insightful Reports</p>
      </div>
  </div>
</div>
